<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit from</title>
</head>
<body>
    <h2>This is edit form</h2>
    <h3>Chat ID : <%= chat.id %></h3>
    <form method="POST" action="/chats/<%=chat._id%>/?_method=PUT">
        Chat:<br>
        <textarea style="height: 5rem; width: 20rem;" name="msg"><%=chat.msg%></textarea>
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>