.Chat{
    border: solid black;
    width: 18rem; 
    margin: 2rem; 
    border-radius: 20px; 
    background-color: aqua;
    display: inline-block;
    height: 16rem;
}
.msg{
    margin-left: 2.9rem; 
    background-color: white; 
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}